/* Container styles */
.resetpasswordcontainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height:auto;
    margin-top: 100px;
  }
  
  /* Form styles */
  .resetpasswordform {
    display: flex;
    flex-direction: column;
  }
  
  .resetpasswordlabel {
    margin-bottom: 8px;
  }
  
  .resetpasswordinput[type="email"],
  .resetpasswordinput[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 370px;
  }
  
  .resetpasswordbutton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    margin-left: 120px;
  }
  
  .resetpasswordbutton:hover {
    background-color: #0056b3;
  }
  
  .message {
    margin-top: 15px;
    color: #dc3545;
    font-size: 14px;
  }
  